* {
    margin: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.library-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 1 / 2;
}

.library-info h2 {
    font-style: italic;
}

button {
    margin-top: .5rem;
}

.book-container {
    grid-row: 2/3;
    display: grid;
    box-sizing: border-box;
    padding: 0 12rem 0 12rem;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, 12rem);
    grid-template-rows: repeat(auto-fit, 15rem);
}

.book {
    background-color: black;
    border-radius: 1rem;
    opacity: 80%;
    height: 15rem;
    width: 12rem;
    color: white;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.book-container h3 {
    font-weight: 200;
}

svg {
    margin-bottom: 0.5rem;
}

dialog {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0.25rem solid black;
    border-radius: 0.5rem;
}

.dialog-content {
    display: flex;
    flex-direction: column;



}

.dialog-content button {
    color: white;
    background-color: black;
    opacity: 80%;
    border: 0;
    border-radius: 1rem;
    padding: .5rem 2rem .5rem 2rem;
    margin: 0;
}

.dialog-content h2, label, fieldset {
    margin-top: 0.5rem;
}

.dialog-content fieldset {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

dialog::backdrop {
    background-color: black;
    opacity: 50%;
}

form {
    display: flex;
    flex-direction: column;
}

.open-button {
    background-color: rgb(220, 220, 220);
    color:rgb(130, 130, 130);
    border: 0;
    border-radius: 2rem;
    padding: .5rem;
}

.del-button, .toggle-button {
    background-color: white;
    border: 0;
    border-radius: 1rem;
    padding: .5rem 2rem .5rem 2rem;
}